<div class="row" *ngIf="!loading">
  <ng-container *ngFor="let group of data">
    <div class="col text-center" *ngIf="group.people.length > 0">
      <span>{{ group.title }}</span>
      <div class="row">
        <div class="col persons-timeline-row">
          <app-persons-timeline-row [data]="group.people"></app-persons-timeline-row>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="row row-loading" *ngIf="loading">
    <div class="col col-loading">
        <h1>Loading</h1>
    </div>
</div>